body {
  overflow: hidden;
}
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ffffff;
  z-index:99;
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%;
  top:50%;
  background-image:url(https://firebasestorage.googleapis.com/v0/b/riffyorchid.appspot.com/o/loader.gif?alt=media&token=38d930b5-4f43-4525-b2c7-520363f5e536);
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px;
}
